<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>265207107704-oe74f7i06hn1du6ffalgtv36jqrcm9a3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265207107704-oe74f7i06hn1du6ffalgtv36jqrcm9a3</string>
	<key>API_KEY</key>
	<string>AIzaSyB2EHExxbe8Y-yiyWIUfO0slBUIlLCzFV0</string>
	<key>GCM_SENDER_ID</key>
	<string>265207107704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.psicologosencostarica.Poiesis-Group</string>
	<key>PROJECT_ID</key>
	<string>poiesisgroup-ace8e</string>
	<key>STORAGE_BUCKET</key>
	<string>poiesisgroup-ace8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265207107704:ios:438405a71677da17</string>
	<key>DATABASE_URL</key>
	<string>https://poiesisgroup-ace8e.firebaseio.com</string>
</dict>
</plist>